@import "https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Share+Tech+Mono&display=swap";
*, section {
  padding: 0;
  margin: 0;
}
* a, section a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: #111;
  color: #f4f1de;
  font-family: "Open Sans";
}
body .desktop {
  display: none;
}
body #mobile {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body #mobile div {
  animation: enter-art ease 1s;
  animation-iteration-count: 1;
  height: 100vh;
  width: 50vw;
}
body #mobile .arch-main {
  background: url("../img/a-00.jpg") fixed;
  background-size: cover;
}
body #mobile .arch-study {
  background: rgba(0, 0, 0, 0.5) url("../img/a-01.jpg") fixed;
  background-size: cover;
  background-blend-mode: multiply;
}

@keyframes enter-art {
  0% {
    width: 10vw;
  }
  100% {
    width: 50vw;
  }
}
@media all and (max-width: 700px) {
  nav .links {
    width: 50%;
    height: 100%;
    background: #81b29a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Share Tech Mono", monospace;
    font-size: 2em;
    position: fixed;
    transform: translateX(-100%);
  }
  nav .links a {
    color: #e07a5f;
    text-shadow: 2px 2px #f2cc8f;
    margin: 20px 0;
  }
  nav i {
    color: #111;
    font-size: 2em;
    padding: 1em;
    position: fixed;
  }
  nav i:active {
    transform: translateX(60vw);
    transition: transform 250ms;
    color: #e07a5f;
    text-shadow: 2px 2px #f2cc8f;
  }
  nav i:active + .links {
    transform: translateX(0);
    transition: transform 250ms;
  }
}
@media all and (min-width: 700px) {
  body nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    background: #f4f1de;
    color: #f4f1de;
    font-size: 2em;
    text-shadow: 2px 2px #3d405b;
    box-shadow: 1px 0 20px #28282808;
  }
  body nav .fa-map-signs {
    padding-left: 10em;
  }
  body nav .fa-map-signs:hover {
    color: #f2cc8f;
  }
  body nav .links {
    padding-right: 10em;
  }
  body nav .links a {
    font-family: "Share Tech Mono", monospace;
  }
  body nav .links a:hover {
    text-shadow: 2px 2px #3d405b;
    color: #f2cc8f;
  }
  body #mobile {
    display: none;
  }
  body .desktop {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #81b29a;
  }
  body .desktop #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
  }
  body .desktop #gallery .galleryImg {
    object-fit: cover;
    image-rendering: optimizespeed;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 250ms;
    cursor: pointer;
  }
  body .desktop #gallery .galleryImg:hover {
    transform: translateY(-2px);
    transition: transform;
  }
  body .desktop #popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f4f1de;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 250ms;
    padding: 50px;
  }
  body .desktop #popup #selectedImage {
    max-height: 100%;
    border: 2em solid #222;
  }
}

/*# sourceMappingURL=work.css.map */
