$leaf: #8FAF6B

html, body
	width: 100%
	height: 100%
	margin: 0
	a
		text-decoration: none
		color: $leaf
	li
		list-style: none
	ul
		padding-left: 0


@media all and (max-width: 879px)
	body
		background: url('../img/map-mobile.jpg')
		background-size: cover
		nav
			position: absolute
			top: 473px
			left: 40px
			ul
				li
					margin: 20px 10px
				li > *
					color: white
					font-size: 72px
				span.b
					display: none
		img
			z-index: 10
			position: absolute
			top: 117px
			left: calc(50% - 264px/2)
			width: 224px
			height: 224px
			border: 20px solid white
			border-radius: 50%
		#line
			z-index: 5
			position: absolute
			top: calc(117px + 224px/2)
			height: 40px
			background: white
			width: 100%
		h1
			display: none
		p
			display: none


@media all and (min-width: 879px)
	body
		nav
			position: absolute
			left: calc(50% - 273.6px / 2)
			top: 40px
			ul
				display: inline
				font-family: 'Roboto Mono'
				font-size: 24px
				color: $leaf
				li
					display: inline
				span.a
					display: none
				a:hover
					color: salmon
		main
			width: calc(100% - 120px)
			height: calc(100% - 200px)
			transform: translateY(200px)
			margin: 0 60px
			background: url('../img/map-desktop-saturated.jpg') center center
			background-size: cover
			display: flex
			flex-direction: column
			justify-content: start
			align-items: center
			img
				z-index: 10
				flex-shrink: 0
				transform: translateY(-90px)
				height: 300px
				width: 300px
				border: 40px solid white
				border-radius: 50%
			#line
				z-index: 5
				flex-shrink: 0
				width: 100%
				height: 60px
				background: white
				transform: translateY(-300px)
			h1
				font-family: 'Roboto Mono'
				font-size: 96px
				font-weight: 600
				letter-spacing: 10px
				color: white
				mix-blend-mode: overlay
				transform: translateY(-200px)
			p
				color: white
				font-size: 24px
				font-family: 'Roboto Mono'
				transform: translateY(-300px)
