@import "https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Share+Tech+Mono&display=swap"


// colors by shade //

$eggwhite: #f4f1de
$tomato: #e07a5f
$universe: #3d405b
$emerald: #81b29a
$vanilla: #f2cc8f
$forest: #387c6d

// other //
$imgSize: 8em
$layout-breakpoint-small: 1200px

*, section
	padding: 0
	margin: 0
	a
		text-decoration: none
		color: inherit

html
	height: 100%
	width: 100%

body
	height: 100%
	width: 100%
	background: #111
	color: $eggwhite
	font-family: 'Open Sans'




	.desktop
		display: none

	#mobile
		margin: 0
		padding: 0
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		div
			animation: enter-art ease 1s
			animation-iteration-count: 1
			height: 100vh
			width: 50vw
		.arch-main
			background: url("../img/a-00.jpg") fixed
			background-size: cover
		.arch-study
			background: rgba(0,0,0,0.5) url("../img/a-01.jpg") fixed
			background-size: cover
			background-blend-mode: multiply


@keyframes enter-art
	0%
		width: 10vw
	100%
		width: 50vw

@media all and (max-width: 700px)
		nav
			.links
				// styling
				width: 50%
				height: 100%
				background: $emerald
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				font-family: 'Share Tech Mono', monospace
				font-size: 2em
				a
					color: $tomato
					text-shadow: 2px 2px $vanilla
					margin: 20px 0
				// magic
				position: fixed
				transform: translateX(-100%)
			i
				// styling
				color: #111
				font-size: 2em
				padding: 1em
				// magic and more
				position: fixed
				&:active
					transform: translateX(60vw)
					transition: transform 250ms
					color: $tomato
					text-shadow: 2px 2px $vanilla
					&+.links
						transform: translateX(0)
						transition: transform 250ms


@media all and (min-width: 700px)
	body
		// nav
		// 	// width: 100%
		// 	// padding: 20px
		// 	position: static
		// 	display: flex
		// 	justify-content: flex-start

		nav
			position: absolute
			display: flex
			justify-content: space-between
			padding: 10px 0
			width: 100%
			background: $eggwhite
			color: $eggwhite
			font-size: 2em
			text-shadow: 2px 2px $universe
			.fa-map-signs
				//color: white
				padding-left: 10em
				&:hover
					//text-shadow: 2px 2px $emerald
					color: $vanilla
			.links
				padding-right: 10em
				a
					font-family: 'Share Tech Mono', monospace
					&:hover
						text-shadow: 2px 2px $universe
						color: $vanilla


		#mobile
			display: none
		.desktop
			height: 100%
			display: flex
			align-items: center
			justify-content: center
			background: $emerald
			#gallery
				display: grid
				grid-template-columns: repeat(auto-fit, minmax(320px,1fr))
				justify-content: center
				grid-gap: 30px
				.galleryImg
					object-fit: cover
					width: 100%
					height: 100%
					position: relative
					transition: transform 250ms
					cursor: pointer
					box-shadow: .6em .6em 0 $universe
					&:hover
						transform: translateY(-2px)
						box-shadow: .65em .65em 0 $universe
						transition: transform
			#popup
				position: fixed
				top: 0
				bottom: 0
				left: 0
				right: 0
				background-color: $eggwhite
				display: flex
				justify-content: center
				align-items: center
				transform: translateY(-100%)
				transition: transform 250ms
				padding: 50px
				#selectedImage
					max-height: 100%
					border: 2em solid #222
